langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-groq
langchain-huggingface
langchain-experimental
langchain-classic
langchain-qdrant
qdrant-client
rank_bm25
unstructured
sentence-transformers
fastapi
uvicorn[standard]
python-dotenv
numpy
pyjwt
bcrypt
sqlalchemy
psycopg[binary]
python-multipart
aiofiles
cachetools